// google font
$poppins: "Poppins", sans-serif;

// colors

$sky-blue: #2d9cdb;
$heading: #333333;
$sub-heading: #828282;

$para: #4f4f4f;

$form-label: #828282;
$gray-2: #828282;

$form-input-bg: #f2f2f2;

$btn-bg: #2d9cdb;

$green: #27ae60;

$bright-red: #eb5757;

$purple: #100e1d;

// nav colors
$white: #fff;
$black: #000;
$gray: #f0f0f4;
